@model List<MovieForum.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Threads</h1>

    @foreach (var item in Model)
    {
        string imageUrl = Url.Content("/photos/" + item.ImageFilename);
        int commentsNum = item.Comments?.Count() ?? 0;

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4" style="height: 150px">
                    @if (!string.IsNullOrEmpty(item.ImageFilename))
                    {
                        <img class="img-fluid rounded-start" src="@imageUrl" alt="Discussion Image" style="object-fit: cover; height: 194px; width: 100%;" />
                    } else {
                        <img class="img-fluid rounded-start fallback" src="~/6041412.png" alt="Fallback Image"/>
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@item.DiscussionId" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">@item.Title</a>
                        </h5>
                        <p class="card-text">
                            <strong>Created on:</strong> @item.CreateDate.ToString("MMMM dd, yyyy")
                        </p>
                        <p class="card-text">
                            <strong>Comments:</strong> @commentsNum
                        </p>
                        <div class="d-flex flex-row align-items-center">
                            @if (!string.IsNullOrEmpty(item.ApplicationUser?.ImageFilename))
                            {
                                <img class="thumbnail" src="~/profile_img/@item.ApplicationUser?.ImageFilename" />
                            } else
                            {
                                <img class="thumbnail" src="~/2337401-200.png" />
                            }

                            <div class="d-flex flex-row align-items-center">
                                <p class="card-text m-1">
                                    <strong>Author:</strong>
                                </p>
                                <a asp-controller="Home" asp-action="Profile" asp-route-id="@item.ApplicationUser?.Id" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">@item.ApplicationUser?.Name</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .fallback{
        max-height: 194px;
        margin-left: 120px;
    }

    .thumbnail{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 20%
    }
</style>
